In [19]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

# Initialize Spark session
spark = SparkSession.builder \
    .appName("AirbnbDataProcessing") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://hdfs-namenode:9000") \
    .getOrCreate()

# Read the Airbnb data from HDFS
file_path = "hdfs://hdfs-namenode:9000/datasets" + "/AB_NYC_2019.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)


print(df.show())

+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|  id|                name|host_id|       host_name|neighbourhood_group|     neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|2539|Clean & quiet apt...|   2787|            John|           Brooklyn|        Kensington|40.64749|-73.97237|   Private room|  149|             1|                9| 2018-10-19|             0.21|                             6|             365|
|2595|Skylit Midtown Ca...|   2845|        Jennifer|          Manhattan|           Midtown|40.75362|-73.98377|Entire home/apt|  225|             1|               45| 2019-05-21|             0.38|                             2|             355|
|3647|THE VILLAGE OF HA...|   4632|       Elisabeth|          Manhattan|            Harlem|40.80902| -73.9419|   Private room|  150|             3|                0|       null|             null|                             1|             365|
|3831|Cozy Entire Floor...|   4869|     LisaRoxanne|           Brooklyn|      Clinton Hill|40.68514|-73.95976|Entire home/apt|   89|             1|              270| 2019-07-05|             4.64|                             1|             194|
|5022|Entire Apt: Spaci...|   7192|           Laura|          Manhattan|       East Harlem|40.79851|-73.94399|Entire home/apt|   80|            10|                9| 2018-11-19|             0.10|                             1|               0|
|5099|Large Cozy 1 BR A...|   7322|           Chris|          Manhattan|       Murray Hill|40.74767|  -73.975|Entire home/apt|  200|             3|               74| 2019-06-22|             0.59|                             1|             129|
|5121|     BlissArtsSpace!|   7356|           Garon|           Brooklyn|Bedford-Stuyvesant|40.68688|-73.95596|   Private room|   60|            45|               49| 2017-10-05|             0.40|                             1|               0|
|5178|Large Furnished R...|   8967|        Shunichi|          Manhattan|    Hell's Kitchen|40.76489|-73.98493|   Private room|   79|             2|              430| 2019-06-24|             3.47|                             1|             220|
|5203|Cozy Clean Guest ...|   7490|       MaryEllen|          Manhattan|   Upper West Side|40.80178|-73.96723|   Private room|   79|             2|              118| 2017-07-21|             0.99|                             1|               0|
|5238|Cute & Cozy Lower...|   7549|             Ben|          Manhattan|         Chinatown|40.71344|-73.99037|Entire home/apt|  150|             1|              160| 2019-06-09|             1.33|                             4|             188|
|5295|Beautiful 1br on ...|   7702|            Lena|          Manhattan|   Upper West Side|40.80316|-73.96545|Entire home/apt|  135|             5|               53| 2019-06-22|             0.43|                             1|               6|
|5441|Central Manhattan...|   7989|            Kate|          Manhattan|    Hell's Kitchen|40.76076|-73.98867|   Private room|   85|             2|              188| 2019-06-23|             1.50|                             1|              39|
|5803|Lovely Room 1, Ga...|   9744|          Laurie|           Brooklyn|       South Slope|40.66829|-73.98779|   Private room|   89|             4|              167| 2019-06-24|             1.34|                             3|             314|
|6021|Wonderful Guest B...|  11528|         Claudio|          Manhattan|   Upper West Side|40.79826|-73.96113|   Private room|   85|             2|              113| 2019-07-05|             0.91|                             1|             333|
|6090|West Village Nest...|  11975|           Alina|          Manhattan|      West Village| 40.7353|-74.00525|Entire home/apt|  120|            90|               27| 2018-10-31|             0.22|                             1|               0|
|6848|Only 2 stops to M...|  15991|   Allen & Irina|           Brooklyn|      Williamsburg|40.70837|-73.95352|Entire home/apt|  140|             2|              148| 2019-06-29|             1.20|                             1|              46|
|7097|Perfect for Your ...|  17571|            Jane|           Brooklyn|       Fort Greene|40.69169|-73.97185|Entire home/apt|  215|             2|              198| 2019-06-28|             1.72|                             1|             321|
|7322|     Chelsea Perfect|  18946|            Doti|          Manhattan|           Chelsea|40.74192|-73.99501|   Private room|  140|             1|              260| 2019-07-01|             2.12|                             1|              12|
|7726|Hip Historic Brow...|  20950|Adam And Charity|           Brooklyn|     Crown Heights|40.67592|-73.94694|Entire home/apt|   99|             3|               53| 2019-06-22|             4.44|                             1|              21|
|7750|Huge 2 BR Upper E...|  17985|            Sing|          Manhattan|       East Harlem|40.79685|-73.94872|Entire home/apt|  190|             7|                0|       null|             null|                             2|             249|
+----+--------------------+-------+----------------+-------------------+------------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

None

## Calculate the total number of reviews per neighborhood

In [ ]:
from pyspark.sql.functions import col, count

# Handle null values: fill nulls with default values or drop rows with nulls
df = df.na.fill({
    'neighbourhood': 'Unknown',
    'number_of_reviews': 0
})

reviews_per_neighborhood = df.groupBy("neighbourhood").agg(count("number_of_reviews").alias("total_reviews"))
print(reviews_per_neighborhood.show())

+------------------+-------------+
|     neighbourhood|total_reviews|
+------------------+-------------+
|            Corona|           64|
|      Richmondtown|            1|
|      Prince's Bay|            4|
|       Westerleigh|            2|
|        Mill Basin|            4|
|      Civic Center|           52|
|          40.83166|            1|
|        Douglaston|            7|
|        Mount Hope|           20|
|       Marble Hill|           12|
|         Rego Park|          106|
|          40.81225|            1|
|     Dyker Heights|           12|
| Kew Gardens Hills|           26|
|      Dongan Hills|            7|
|          40.81078|            1|
|Financial District|          744|
|       Bay Terrace|            6|
|          40.83117|            1|
|           Midtown|         1541|
+------------------+-------------+
only showing top 20 rows

None

In [4]:
popular_neighborhoods = reviews_per_neighborhood.filter(col("total_reviews") > 100)
print(popular_neighborhoods.show())

+------------------+-------------+
|     neighbourhood|total_reviews|
+------------------+-------------+
|         Rego Park|          106|
|Financial District|          744|
|           Midtown|         1541|
|   Jackson Heights|          184|
|    Hell's Kitchen|         1951|
|   Windsor Terrace|          157|
| Greenwich Village|          390|
|      Clinton Hill|          571|
|Washington Heights|          895|
|  Ditmars Steinway|          306|
|        Kensington|          175|
|           Tribeca|          177|
|          Flushing|          423|
|     East Elmhurst|          183|
|   Upper East Side|         1791|
|          Canarsie|          143|
|    Sheepshead Bay|          163|
|       East Harlem|         1112|
|           Astoria|          898|
|   Lower East Side|          911|
+------------------+-------------+
only showing top 20 rows

None

In [5]:
df.createOrReplaceTempView("airbnb")

avg_price_per_neighborhood = spark.sql("""
    SELECT neighbourhood, AVG(price) AS avg_price
    FROM airbnb
    GROUP BY neighbourhood
""")
print("Average Price per Neighborhood:")
avg_price_per_neighborhood.show()

Average Price per Neighborhood:
+------------------+------------------+
|     neighbourhood|         avg_price|
+------------------+------------------+
|            Corona|         59.171875|
|      Richmondtown|              78.0|
|      Prince's Bay|             409.5|
|       Westerleigh|              71.5|
|        Mill Basin|            179.75|
|      Civic Center|191.94230769230768|
|          40.83166|               1.0|
|        Douglaston| 88.14285714285714|
|        Mount Hope|              77.5|
|       Marble Hill| 89.16666666666667|
|         Rego Park| 83.87735849056604|
|          40.81225|               2.0|
|     Dyker Heights| 93.41666666666667|
| Kew Gardens Hills| 112.3076923076923|
|      Dongan Hills| 79.42857142857143|
|          40.81078|               3.0|
|Financial District|225.49059139784947|
|       Bay Terrace|             142.0|
|          40.83117|               1.0|
|           Midtown| 282.7839065541856|
+------------------+------------------+
only showing top 20 rows

### Calculate the Average Price per Neighborhood

In [6]:
reviews_per_neighborhood = spark.sql("""
    SELECT neighbourhood, COUNT(number_of_reviews) AS total_reviews
    FROM airbnb
    GROUP BY neighbourhood
""")
print("Total Reviews per Neighborhood:")
reviews_per_neighborhood.show()

Total Reviews per Neighborhood:
+------------------+-------------+
|     neighbourhood|total_reviews|
+------------------+-------------+
|            Corona|           64|
|      Richmondtown|            1|
|      Prince's Bay|            4|
|       Westerleigh|            2|
|        Mill Basin|            4|
|      Civic Center|           52|
|          40.83166|            1|
|        Douglaston|            7|
|        Mount Hope|           20|
|       Marble Hill|           12|
|         Rego Park|          106|
|          40.81225|            1|
|     Dyker Heights|           12|
| Kew Gardens Hills|           26|
|      Dongan Hills|            7|
|          40.81078|            1|
|Financial District|          744|
|       Bay Terrace|            6|
|          40.83117|            1|
|           Midtown|         1541|
+------------------+-------------+
only showing top 20 rows

### Calculate the Average Price and Total Reviews per Neighborhood:

In [9]:
avg_price_and_reviews = spark.sql("""
    SELECT neighbourhood, AVG(price) AS avg_price, COUNT(number_of_reviews) AS total_reviews
    FROM airbnb
    GROUP BY neighbourhood
""")
print("Average Price and Total Reviews per Neighborhood:")
avg_price_and_reviews.show()

Average Price and Total Reviews per Neighborhood:
+------------------+------------------+-------------+
|     neighbourhood|         avg_price|total_reviews|
+------------------+------------------+-------------+
|            Corona|         59.171875|           64|
|      Richmondtown|              78.0|            1|
|      Prince's Bay|             409.5|            4|
|       Westerleigh|              71.5|            2|
|        Mill Basin|            179.75|            4|
|      Civic Center|191.94230769230768|           52|
|          40.83166|               1.0|            1|
|        Douglaston| 88.14285714285714|            7|
|        Mount Hope|              77.5|           20|
|       Marble Hill| 89.16666666666667|           12|
|         Rego Park| 83.87735849056604|          106|
|          40.81225|               2.0|            1|
|     Dyker Heights| 93.41666666666667|           12|
| Kew Gardens Hills| 112.3076923076923|           26|
|      Dongan Hills| 79.42857142857143|            7|
|          40.81078|               3.0|            1|
|Financial District|225.49059139784947|          744|
|       Bay Terrace|             142.0|            6|
|          40.83117|               1.0|            1|
|           Midtown| 282.7839065541856|         1541|
+------------------+------------------+-------------+
only showing top 20 rows

## Amazon Sale Data

In [ ]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("AmazonDataProcessing") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://hdfs-namenode:9000") \
    .getOrCreate()

# Read the Amazon data from HDFS
amazon_data = "hdfs://hdfs-namenode:9000/datasets" + "/Amazon Sale Report.csv"
amazon_data_df = spark.read.csv(amazon_data, header=True, inferSchema=True)


total_sales_per_city = amazon_data_df.groupBy("ship-city").agg(sum("Amount").alias("total_sales"))

total_sales_per_city.show()
# print(amazon_data_df.show())

+--------------------+------------------+
|           ship-city|       total_sales|
+--------------------+------------------+
|             GWALIOR|          91540.91|
|           Bangalore|441524.61999999994|
|   Avinashi, Tirupur|            9507.0|
|NANDIVARAM GUDUVA...|29664.420000000002|
|         KODUNGALLUR|            4991.0|
|            GULAOTHI|             476.0|
|            Zirakpur| 8929.619999999999|
|        Kudukkimotta|            3766.0|
|        CHEKONIDHARA|            2225.0|
|            JHINJHAK|            1288.0|
|            DHAULPUR|            4951.0|
|               JOWAI|           6179.29|
|        YELAMANCHILI|            3217.0|
|         SIKANDRABAD|            1186.0|
|          KUMARAGIRI|             517.0|
|              CHOPRA|             547.0|
|            TALIKOTA|            1532.0|
|             Udaipur|          17404.15|
|ATMAKUR SRI POTTI...|            4739.0|
|         JillelaGuda|            1740.0|
+--------------------+------------------+
only showing top 20 rows

In [18]:
amazon_data_df.printSchema()

root
 |-- index: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Fulfilment: string (nullable = true)
 |-- Sales Channel : string (nullable = true)
 |-- ship-service-level: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- ASIN: string (nullable = true)
 |-- Courier Status: string (nullable = true)
 |-- Qty: integer (nullable = true)
 |-- currency: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- ship-city: string (nullable = true)
 |-- ship-state: string (nullable = true)
 |-- ship-postal-code: double (nullable = true)
 |-- ship-country: string (nullable = true)
 |-- promotion-ids: string (nullable = true)
 |-- B2B: boolean (nullable = true)
 |-- fulfilled-by: string (nullable = true)
 |-- Unnamed: 22: boolean (nullable = true)

In [25]:
amazon_data_df.show()

+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|index|           Order ID|    Date|              Status|Fulfilment|Sales Channel |ship-service-level|   Style|                SKU|     Category|Size|      ASIN|Courier Status|Qty|currency|Amount|  ship-city|    ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|Unnamed: 22|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
|    0|405-8078784-5731545|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|  SET389|     SET389-KR-NP-S|          Set|   S|B09KXVBD7Z|          null|  0|     INR|647.62|     MUMBAI|   MAHARASHTRA|        400081.0|          IN|                null|false|   Easy Ship|       null|
|    1|171-9198151-1101146|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3781|    JNE3781-KR-XXXL|        kurta| 3XL|B09K3WFS32|       Shipped|  1|     INR| 406.0|  BENGALURU|     KARNATAKA|        560085.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    2|404-0687676-7273146|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3371|      JNE3371-KR-XL|        kurta|  XL|B07WV4JV4D|       Shipped|  1|     INR| 329.0|NAVI MUMBAI|   MAHARASHTRA|        410210.0|          IN|IN Core Free Ship...| true|        null|       null|
|    3|403-9615377-8133951|04-30-22|           Cancelled|  Merchant|     Amazon.in|          Standard|   J0341|         J0341-DR-L|Western Dress|   L|B099NRCT7B|          null|  0|     INR|753.33| PUDUCHERRY|    PUDUCHERRY|        605008.0|          IN|                null|false|   Easy Ship|       null|
|    4|407-1069790-7240320|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3671|    JNE3671-TU-XXXL|          Top| 3XL|B098714BZP|       Shipped|  1|     INR| 574.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|    5|404-1490984-4578765|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET264|    SET264-KR-NP-XL|          Set|  XL|B08YN7XDSG|       Shipped|  1|     INR| 824.0|  GHAZIABAD| UTTAR PRADESH|        201102.0|          IN|IN Core Free Ship...|false|        null|       null|
|    6|408-5748499-6859555|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|   J0095|        J0095-SET-L|          Set|   L|B08CMHNWBN|       Shipped|  1|     INR| 653.0| CHANDIGARH|    CHANDIGARH|        160036.0|          IN|IN Core Free Ship...|false|        null|       null|
|    7|406-7807733-3785945|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|       JNE3405-KR-S|        kurta|   S|B081WX4G4Q|       Shipped|  1|     INR| 399.0|  HYDERABAD|     TELANGANA|        500032.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|    8|407-5443024-5233168|04-30-22|           Cancelled|    Amazon|     Amazon.in|         Expedited|  SET200|SET200-KR-NP-A-XXXL|          Set| 3XL|B08L91ZZXN|     Cancelled|  0|    null|  null|  HYDERABAD|     TELANGANA|        500008.0|          IN|IN Core Free Ship...|false|        null|       null|
|    9|402-4393761-0311520|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3461|     JNE3461-KR-XXL|        kurta| XXL|B08B3XF5MH|       Shipped|  1|     INR| 363.0|    Chennai|    TAMIL NADU|        600041.0|          IN|                null|false|        null|       null|
|   10|407-5633625-6970741|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3160|     JNE3160-KR-G-S|        kurta|   S|B07K3YQLF1|       Shipped|  1|     INR| 685.0|    CHENNAI|    TAMIL NADU|        600073.0|          IN|                null|false|        null|       null|
|   11|171-4638481-6326716|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3500|      JNE3500-KR-XS|        kurta|  XS|B098117DJ3|       Shipped|  1|     INR| 364.0|      NOIDA| UTTAR PRADESH|        201303.0|          IN|                null|false|        null|       null|
|   12|405-5513694-8146768|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3405|      JNE3405-KR-XS|        kurta|  XS|B081XCMYXJ|       Shipped|  1|     INR| 399.0|  Amravati.|   MAHARASHTRA|        444606.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   13|408-7955685-3083534|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET182|    SET182-KR-DH-XS|          Set|  XS|B085HS947T|       Shipped|  1|     INR| 657.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|                null|false|        null|       null|
|   14|408-1298370-1920302|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|   J0351|        J0351-SET-L|          Set|   L|B09CSSQY4F|       Shipped|  1|     INR| 771.0|     MUMBAI|   MAHARASHTRA|        400053.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   15|403-4965581-9520319|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard|PJNE3368|    PJNE3368-KR-6XL|        kurta| 6XL|B09PY99SVJ|       Shipped|  1|     INR| 544.0|   GUNTAKAL|ANDHRA PRADESH|        515801.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   16|406-9379318-6555504|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3721|     JNE3721-KR-XXL|        kurta| XXL|B099FCT65D|       Shipped|  1|     INR| 329.0|     JAIPUR|     RAJASTHAN|        302020.0|          IN|IN Core Free Ship...|false|        null|       null|
|   17|405-9013803-8009918|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited| JNE3405|      JNE3405-KR-XL|        kurta|  XL|B081WT6GG7|       Shipped|  1|     INR| 399.0|  NEW DELHI|         DELHI|        110074.0|          IN|                null|false|        null|       null|
|   18|402-4030358-5835511|04-30-22|Shipped - Deliver...|  Merchant|     Amazon.in|          Standard| JNE3697|     JNE3697-KR-XXL|        kurta| XXL|B098133PV5|       Shipped|  1|     INR| 458.0|    Gurgaon|       HARYANA|        122004.0|          IN|Amazon PLCC Free-...|false|   Easy Ship|       null|
|   19|405-5957858-1051546|04-30-22|             Shipped|    Amazon|     Amazon.in|         Expedited|  SET254|    SET254-KR-NP-XS|          Set|  XS|B0983DDPL6|       Shipped|  1|     INR| 886.0|  BENGALURU|     KARNATAKA|        560017.0|          IN|                null|false|        null|       null|
+-----+-------------------+--------+--------------------+----------+--------------+------------------+--------+-------------------+-------------+----+----------+--------------+---+--------+------+-----------+--------------+----------------+------------+--------------------+-----+------------+-----------+
only showing top 20 rows